<div class="header">
  <div class="country-name-container">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input type="text" placeholder="Select Country" aria-label="Number" matInput [formControl]="myControl"
          [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let item of countryList | keyvalue" [value]="item.value['name']"
            (click)="onSelectCoutry($event,item)" (onSelectionChange)="onSelectCoutry($event,item)">
            {{item.value['name']}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>
</div>
