<div class="content-header">
  Currency List
</div>
<div class="container">
  <table id="currency-list">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Code</th>
      <th>Symbol</th>
    </tr>
    <tbody>
      <tr *ngFor="let item of CurrencyDetails && CurrencyDetails['currencies'] | keyvalue;let i = index">
        <td>
          {{i+1}}
        </td>
        <td>
          {{item.value['name']}}
        </td>
        <td>
          {{item.value['code']}}
        </td>
        <td>
          {{item.value['symbol']}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
